/*
* ZarkxReset v0.1
*
* Copyright 2012 Sparker5
*
* All designed and contributed by @devinSparker5.
*/



/*---------------------------- BASIC */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, input, textarea, p, blockquote, th, td { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
q:before, q:after { content: '' }
a:hover: { cursor:pointer; text-decoration:underline;}
abbr, acronym { border: 0; font-variant: normal }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
input, textarea, select { font-family: inherit; font-size: inherit; *font-size: 100%; font-weight: inherit }
legend { color: #000 }
a:focus {outline:0;}
li { list-style-type:none;}
a{
    text-decoration:none;
    color:#555;
}
a:hover{
    text-decoration:none;
    color:#666;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
/*---------------------------- BASIC */



/*---------------------------- CLEARFIX */
.clearfix {
    *zoom: 1; 
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
/*---------------------------- CLEARFIX */



/*---------------------------- BUTTON & INPUT */
button { 
    cursor: pointer; 
    _cursor: hand; 
}
button,
input {
    *overflow: visible;
    line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
/*---------------------------- BUTTON & INPUT */




/*---------------------------- ELEMENT */
.hidden {display:none;}
.block {display:block}
.right { float:right;}
.left {float:left;}
/*---------------------------- ELEMENT */



/*---------------------------- Font,  Link & Container */
body { 
    width:100%;
    height:100%;
    color: #555; 
    font: 12px/1.6 "Hiragino Sans GB","Microsoft YaHei","Segoe UI",Tahoma,Arial,Helvetica,sans-serif;}
pre { 
    font: 12px/1.6 "Hiragino Sans GB","Microsoft YaHei","Segoe UI",Tahoma,Arial,Helvetica,sans-serif;}
code { 
    font-family: courier new,courier,monospace 
}
/*---------------------------- Font,  Link & Container */
