html{width: 100%;height: 100%;}
body{width: 100%;height: 100%;}

/*字体*/
@font-face {
font-family: Helvetica-LT-47-Light-Condensed;
src: url(../fonts/Helvetica-LT-47-Light-Condensed.ttf);
}

/*顶部样式*/
.top_background{clear:both;background-color:white;width: 100%;}
.top_home_background{margin:auto;width: 1440px;height: 687px;clear:both;background-image:url(../img/top/top_background.png);background-repeat: no-repeat;}
.top_container{clear:both;width:1210px;margin:auto;}
.top_home_container{clear:both;width:1210px;margin:auto;padding-top:20px;}
.logo{float:left;width: 73px;text-align: left;padding-top: 9px;}
.logo_home{float:left;width: 73px;text-align: left;}
.nav{float:right;text-align: right;font-family: Helvetica-LT-47-Light-Condensed;font-size: 13pt;}

.under_nav{clear:both;width: 1440px;height: 136px;margin: auto;background-repeat: no-repeat;}

/*页脚样式*/
.footer_background{clear:both;margin: auto;width: 1440px;height: 300px;background-image:url(../img/footer/footer_background.png);background-repeat: no-repeat;margin-top: 100px;}
.footer_container{clear:both;width:1210px;margin: 0 auto;padding-top: 45px;}
.footer1{float:left;width:400px;color:white;text-align: left;font-size: 18px;line-height: 0.8;}
.footer2{float:left;width:400px;color:white;text-align: left;}
.footer3{float:left;width:400px;color:white;text-align: right;}
.footer3 img{margin-left: 40px;}
.footer3 p{margin-top: 136px;opacity: 0.3;}
.footer3 p a{color: #fff;}

/*home页面样式*/
.research_highlights{width: 1176px; margin: auto;font-size: 13pt;}
.research_highlights_img{margin-bottom: 20px}
.research_highlights_title{float: left;width: 360px;margin: 16px;margin-bottom: 80px;}
.research_highlights_p{color: #23A000;}
.research_highlights_p2{color: #889186;font-size: 12pt;}
.centers_home{background: url(../img/home/home_centers_bg.png) no-repeat;padding-bottom: 410px;width: 1440px;margin: auto;}
.home_centers_4{margin-top: 100px;width: 1176px;margin: auto;font-size: 13pt;padding-top: 165px;}
.home_centers_1{margin: auto;width: 400px;font-size: 13pt;margin-left: 148px;margin-top: 100px;}
.home_centers_title{float: left;width: 250px;margin: 22px;margin-bottom: 80px;}
.home_media{width: 1176px; margin: auto;font-size: 13pt;text-align: center;}
.home_media_img{margin: 40px;}
.home_title{float: left;width: 250px;margin: 71px;margin-bottom: 80px;}
.learn_more{color: #9BBA99;font-size: 10pt;margin-top: 20px;}

/*about页面样式*/
.intro_text_title{clear:both;text-align:center;margin:auto;color:green;font-size:18pt;padding-top: 60px;padding-bottom: 60px;font-family: Helvetica-LT-47-Light-Condensed;font-size: 28pt;}
.intro_text_content{clear:both;width:690px;margin:auto;font-size: 13pt;}
.character_container_3{clear:both;width:690px;margin:auto;font-size: 13pt;}
.character_container_4{clear:both;width:460px;margin:auto;margin-bottom: 400px;font-size: 13pt;}
.character{float:left;width:230px;text-align: center;}
.character_intro{font-weight:bold;margin-top: 30px;font-size: 13pt;}

/*centers页面样式*/
.centers_map{clear:both;width:1179px;margin:auto;font-size: 13pt;margin-top: 380px;}
.centers_map_1{background: url(../img/home/home_centers_bg.png) no-repeat;padding-bottom: 752px;margin: auto;width: 1440px;}

/*centers-1页面样式*/
.bookmarks_container{clear: both;width: 800px;margin:0 auto;text-align: center;padding-top: 30px;}
.bookmarks{margin-left: 10px;margin-right: 10px;font-size: 13pt;color: green;}
.centers{clear: both;width: 800px;margin:0 auto;}
.paragraph{clear: both;width: 800px;margin-top: 50px;font-size: 13pt;}
.paragraph_title{clear: both;width: 800px;font-size:13pt;font-weight: bold;text-align: center;padding-bottom: 30px;padding-top: 30px;}
.paragraph_title a{color: green;}
.paragraph_intro{clear: both;font-weight:bold;}
.paragraph_text{clear: both;font-size: 13pt;padding-bottom: 30px;}
.investigators_img{float: left;width: 150px;text-align: left;}
.investigators_text{float: left;width: 650px;font-size: 13pt;}
.investigators_text_intro{clear: both;font-weight:bold;font-size: 13pt;}
.investigators_text_text{clear: both;font-size: 13pt;}
.projects_img{clear: both;text-align: center;padding-top: 20px;padding-bottom: 20px;}

/*research页面样式*/
.research{width: 1200px;margin:0 auto;}
.td_img{width: 500px;vertical-align: top;padding-bottom: 50px;}
.td_text{width: 700px;vertical-align: top;padding-bottom: 50px;}
.img_self{width: 394px;margin-left: 50px;margin-right: 50px;}
.img_text{width: 394px;margin-left: 50px;margin-right: 50px;font-size: 13pt;}
.text_title{width: 650px;margin-left: 0px;margin-right: 50px;color:green;font-size:12pt;font-weight: bold;}
.text_intro{width: 650px;margin-left: 0px;margin-right: 50px;font-size: 13pt;font-weight:bold;}
.text_self{width: 650px;margin-left: 0px;margin-right: 50px;font-size: 13pt;margin-bottom: 40px;}
.text_self_indent{width: 650px;margin-left: 0px;margin-right: 50px;font-size: 13pt;}

/*funding页面样式*/
.funding{width: 100%;}
.funding_table{clear: both;width: 1000px;margin: 50px auto;}
.funding_table_name{color: green;text-align: center;font-size: 20pt;}
.funding_table_intro{height: 40px;color:green;text-align: center;font-size: 13pt;}
.funding_td{height: 60px;padding-top: 10px;color: green;border-bottom: solid;font-size: 13pt;}
.funding_td1{width: 140px;padding-right: 33px;padding-top: 20px;vertical-align: top;font-size: 13pt;}
.funding_td2{width: 440px;padding-right: 33px;padding-top: 20px;vertical-align: top;font-size: 13pt;padding-bottom: 30px;}
.funding_td3{width: 180px;padding-right: 34px;padding-top: 20px;vertical-align: top;font-size: 13pt;}
.funding_td4{width: 140px;padding-top: 20px;vertical-align: top;font-size: 13pt;}

/*events页面样式*/
.events{width: 100%;}
.events_table{clear: both;width: 1000px;margin: 50px auto;}
.events_table_name{color: green;text-align: center;font-size: 20pt;}
.events_table_intro{height: 40px;color:green;text-align: center;font-size: 13pt;}
.events_td{height: 60px;padding-top: 10px;color: green;border-bottom: solid;font-size: 13pt;}
.events_td1{width: 200px;padding-top: 20px;padding-right: 50px;vertical-align: top;font-size: 13pt;}
.events_td2{width: 400px;padding-top: 20px;padding-right: 50px;vertical-align: top;font-size: 13pt;}
.events_td3{width: 300px;padding-top: 20px;vertical-align: top;font-size:13pt;}
.enents_td_last{padding-top: 100px;vertical-align: top;font-size: 13pt;}

/*reports页面样式*/
.reports_container{clear: both;width: 100%;}
.reports_title{clear:both;height: 60px;color: green;text-align: center;font-size: 20pt;margin: 50px auto;}
.reports_url{clear:both;text-align: center;font-size: 13pt}
.reports_table{clear:both;width:1020px;margin: 50px auto;}
.report_td_img{clear:both;width: 510px;text-align: center;}
.report_td_text{clear:both;width: 510px;height: 40px;margin-top: 10px;color: green;font-size: 13pt;text-align: center;}
.report_td_url{clear:both;width: 510px;font-size: 13pt;text-align: center;}

/*bio_core页面样式*/
.bio_core{clear: both;width: 100%;}
.bio_core_container{clear: both;width: 800px;margin: 0 auto;}
.bio_core_title{clear:both;color: green;text-align: center;font-size: 18pt;margin: 50px auto;}
.bio_core_text{clear: both;margin:5px;line-height:200%;font-size: 13pt;}

/*data_center页面样式*/
.data_center{clear: both;width: 100%;}
.data_center_container{clear: both;width: 800px;margin: 0 auto;}
.data_center_title{clear:both;color: green;text-align: center;font-size: 18pt;margin: 50px auto;}
.data_center_text1{clear: both;color: green;font-size: 13pt;height: 20px;}
.data_center_text2{clear: both;font-size: 13pt;height: 20px;}
