/**
 * Desc: common.css 全局css文件
 * User: liangqi
 * Date: 14-2-4
 * Time: 下午8:46
 */
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, div, a, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

@font-face {
    font-family: 'banbanregular';
    src: url('../fonts/pandalang-regular-webfont.eot');
    src: url('../fonts/pandalang-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pandalang-regular-webfont.woff') format('woff'), url('../fonts/pandalang-regular-webfont.ttf') format('truetype'), url('../fonts/pandalang-regular-webfont.svg#pandalangregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

input, select, textarea {
    font-size: 100%;
}

select,
input,
button {
    vertical-align: middle;
    font-size: 100%;
}

ul,
ol {
    list-style: none
}

fieldset,
img {
    border: 0
}

/*IE6 去掉a链接img下边框*/
a img {
    border: none;
}

em {
    font-style: normal
}

.clear {
    clear: both
}

.c_l {
    clear: left;
}

.clear:after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
}

.clear {
    zoom: 1;
}

.c_mr {
    margin-right: 0 !important;
}

/*前台公共样式*/
.center {
    width: 1000px;
    margin: 0 auto;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {
    font: 13px '微软雅黑', 'microsoft yahei', Arial, Helvetica, sans-serif;
    color: #000;
}

html, body {
    height: 100%;
    position: relative;
}

body {
    background: #fefefe;
}

h1 {
    font-size: 14px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #53b567;
}

/**
 global css 样式
 ______________*/
body {
    background: #f0f6f3;
}

.container {
    width: 960px;
    margin: 55px auto 0;
}
.ft18{
    font-size: 18px;
}
.ft14{
    font-size: 14px;
}
.logo {
    float: left;
    display: block;
    width: 150px;
    margin-top: 20px;
}

.h-search-form {
    float: left;
    position: relative;
    border: 1px solid #c4c4df;
    margin: 21px 0 0 60px;
    width: 200px;
}

.h-search-form input {
    outline: none;
    border: none;
}

.h-search-form input[type=text] {
    background: none;
    padding: 6px 9px 7px;
    width: 170px;
}

.h-search-form input[type=image] {
    width: 17px;
    height: 17px;
    position: absolute;
    right: 10px;
    top: 6px;
    z-index: 2;
}

.header-wrapper{
    background: #fff;
}
header {
    height: 70px;
    margin: 0 auto;
    width: 960px;
}

header nav {
    float: right;
    text-align: right;
}

header .l-nav {
    float: left;
    margin-top: 15px;
}

header .r-nav {
    float: left;
    margin-top: 11px;
}

.l-nav > a {
    display: inline-block;
    text-align: center;
    margin-right: 50px;
    color: #5d4fb1;
}

.l-nav > a:hover {
    color: #00e38a;
}

.l-nav span.nav-ico {
    display: block;
    width: 90px;
    line-height: 45px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    font-size: 20px;
}

.l-nav span.ico-home:before {
    font-family: 'banbanregular';
    content: 'A';
    font-size: 35px;
    float: left;
    margin: 1px;
}

.l-nav span.nav-title {
    font-size: 12px;
    opacity: 0;
}

.l-nav > a:hover span.nav-title {
    opacity: 1;
    -webkit-transform: scale(2);

}

.l-nav > a:hover .nav-ico {
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.l-nav > a.cur span.nav-title {
    opacity: 1;
    color: #00e38a;
}

.l-nav span.ico-msg:before {
    font-family: 'banbanregular';
    content: 'B';
    font-size: 35px;
    float: left;
    margin: 2px;
}

.l-nav span.ico-position:before {
    font-family: 'banbanregular';
    content: 'C';
    font-size: 35px;
    float: left;
}

.l-nav span.ico-more:before {
    font-family: 'banbanregular';
    content: 'D';
    font-size: 35px;
    float: left;
    margin: 2px;
}

.l-nav .cur .nav-ico,.l-nav .cur .nav-ico:before {
    color: #5d4fb1;
}

.r-nav a {
    display: block;
    background: #dee4e1;
    border: 3px solid #fff;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-border-radius: 50%;
    border-radius: 50%;

}

.r-nav .user-avatar-small:before {
    display: block;
    content: 'E';
    font-family: 'banbanregular';
    font-size: 40px;
    color: #bbb;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    border-radius: 50%;
}

.r-nav a:hover .user-avatar-small:before {
    color: #5d4fb1;
}

.login-box {
    height: 80px;
    padding: 15px 0px 25px 0px;
    margin-bottom: 20px;
}

.login-title {
    color: #6356b4;
    font-size: 40px;
    float: left;
    margin: -6px;
}

.login-form {
    float: right;
    text-align: right;
}

.login-form .email, .login-form .password {
    border: 2px solid #5d4fb1;
    padding: 8px 5px;
    outline: none;
    width: 165px;
    float: left;
    margin-right: 15px;
    background: rgba(255,255,255,0.7);
}

.login-form .btn-reg {
    background: #53eaaf;
    border: none;
    color: #5d4fb1;
    padding: 8px 0;
    width: 70px;
    border: 2px solid #53eaaf;
    float: left;
    margin-right: 15px;
}

.login-form .btn-login {
    color: #fff;
    background: #5d4fb1;
    padding: 8px 0;
    width: 70px;
    border: 2px solid #5d4fb1;
    float: left;
}
.panel .login-form{
    float: none;
    text-align: left;
}
.panel .login-form .email, .panel .login-form .password{
    margin-bottom: 15px;
    float: none;
    display: block;
    width: 250px;
    height: 25px;
}
.panel .login-form .btn-login{
    width: 264px;
    float: none;
    display: block;
    margin-bottom: 20px;
}
.other-account {
    clear: both;
    margin-left: 500px;
    color: #888;
    padding-top: 20px;

}

.other-account > a {
    margin-left: 15px;
}

.other-account a > img {
    vertical-align: middle;
    height: 20px;
}
.other-account .link-reg{
    margin-left: 20px;
    float: right;
    line-height: 1.5;
}
.other-account .link-reg a{
    text-decoration: underline;
    color: #5d4fb1;
}
.panel .other-account{
    margin-left: 0;
    font-size: 14px;
    margin-top: 30px;
}
.panel .login-quick{
    text-align: right;
    font-size: 14px;
    color: #666;
}
.panel .login-quick a{
    text-align: right;
    color: #5d4fb1;
}

.user-online {
    margin-bottom: 40px;
}

.sub-title {
    color: #00e38a;
    position: relative;
    text-align: center;
    height: 14px;
    line-height: 14px;
    margin-bottom: 30px;
}

.sub-title h2 {
    background: #f0f6f3;
    color: #00e38a;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    padding: 1px 5px 0px 5px;
    margin: -8px 0 0 -40px;
}

.sub-title .green-line {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #00e38a;
    top: 50%;
    z-index: 2;
}

.search-items {
    height: 60px;
    background: #FFFFFF;
    margin-bottom: 30px;
}

.title-match {
    color: #AAA;
    line-height: 60px;
    float: left;
    font-size: 16px;
    margin: 0 20px 0 20px;

}

.sex-sel {
    float: left;
    margin-left: 10px;
}

.sel-label {
    float: left;
    padding: 0 10px;
    line-height: 60px;
    color: #B3B3B3;
    font-size: 12px;
}

.sex-list {
    float: left;
    color: #5d4fb1;
    font-size: 14px;
    margin-top: 14px;
    cursor: default;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    height: 32px;
}

.sex-bg {
    position: absolute;
    z-index: 1;
    width: 165px;
    height: 32px;
    background: #f9f9fc;
}

.sex-cur-bg {
    position: absolute;
    width: 55px;
    height: 32px;
    z-index: 2;
    left: 0;
    top: 0;
    background: #e5e2f5;
}

.sex-inner {
    position: relative;
    z-index: 3;
}

.sex-list span {
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    width: 55px;
    text-align: center;
}

/*.sex-list span.cur{
    background: #e5e2f5;
}*/

.can-sel {
    float: left;
    margin-left: 40px;
    position: relative;
}

.drop-list {
    position: absolute;
    display: none;
    top: 46px;
    left: 56px;
    width: 100px;
    background: #f9f9fc;
    z-index: 4;
}

.drop-list a {
    display: block;
    padding: 8px 0;
    text-align: center;
    font-size: 12px;
    color: #5d4fb1;
}

.drop-list a:hover {
    background: #e5e2f5;
}

.can-lang {
    position: relative;
    float: left;
    height: 32px;
    line-height: 32px;
    width: 100px;
    margin-top: 14px;
}

.can-lang .arrow {
    background: url("../images/lang-arrow.png");
    width: 10px;
    height: 5px;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 10px;
    z-index: 2;
}

.can-lang span {
    display: block;
    font-size: 14px;
    color: #5d4fb1;
    background: #e5e2f5;
    border-radius: 3px;
    text-align: left;
    padding-left: 10px;
}

.user-list-item {
    background: #fff;
    width: 300px;
    height: 140px;
    float: left;
    margin: 0 30px 20px 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    box-shadow: 0 1px 2px #E9E9E9;
}

.user-list-item-inner {
    background: #fff;
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    -webkit-transition: all .3s;
    transition: all .3s;
    height: 140px;
}
.b1{
    padding: 15px 10px 10px;
    border-bottom: 1px dotted #cecece;
}
.b2 p{
    padding: 5px 10px;
    color: #555;
}
.user-list-item:hover .user-list-item-inner {
    box-shadow: 0 0 0 0 rgba(83, 234, 175, 0.3);

}

.user-list-item:nth-child(3n+3) {
    margin-right: 0;
}

.user-avatar {
    float: left;
    margin-right: 10px;
}

.user-avatar img {
    float: left;
    margin-right: 15px;
    margin-left: 5px;
}

.user-info {
    overflow: hidden;
    position: relative;
}

.user-info .user-name {
    color: #333;
}
.user-name .user-sex{
    background: #FCC9FA;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    font-size: 10px;
    padding: 1px 3px;
    margin-left: 5px;
    font-weight: normal;
    -webkit-transform:scale(0.7);
}
.user-info .user-position {
    position: absolute;
    right: 0;
    color: #5d4fb1;
    top: .5em;
}
.user-info .user-desc {
    color: #888;
    line-height: 1.5;
    margin-top: 15px;
}

.user-info .user-desc p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 20px;
    font-size: 12px;
}
.user-info .user-desc p span{
    color: #02cf80;
}
.user-info .user-state {
    width: 24px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 0;
    z-index: 2;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.user-info .user-state:before {
    content: 'J';
    font-family: 'banbanregular';
    font-size: 24px;
    color: #5d4fb1;
    font-weight: 900;
}

.user-info .user-state:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.user-info .added {
    /*background: url("../images/user-added-ico.png");*/
}

.party {
    padding-bottom: 60px;
    overflow: hidden;
}

.party-list-item {
    width: 220px;
    float: left;
    background: #fff;
    margin-right: 26px;
    padding-bottom: 10px;
}
.party-list-item>a{
    display: block;
}

.party-list-item:nth-child(4n+4) {
    margin-right: 0;
}

.party-cover {
    width: 220px;
    height: 120px;
    margin-bottom: 20px;
    display: block;
}

.party-cover img {
    vertical-align: middle;
}

.party-title {
    font-size: 16px;
    margin: 0 10px 15px;
}

.party-title a {
    color: #444;
}

.party-desc {
    color: #888;
    line-height: 1.5;
    margin: 0 10px 10px;
    min-height: 4em;
}

.party-meta {
    overflow: hidden;
    color: #888;
    padding: 0 10px;
}

.party-addr {
    float: left;
}

.party-date {
    float: right;
}

/**
 footer
 _______*/
footer {
    overflow: hidden;
    padding: 10px 0 40px;
    color: #666;
    line-height: 26px;
    height: 26px;
}

.links {
    float: left;
}

.links a {
    color: #666;
    margin-right: 30px;
}
.lang-change{
    margin-left: 200px;
    color: #666;
    float: left;
}
.lang-change select{
    vertical-align: middle;
    margin: 1px 1px 3px;
}
.copyright {
    float: right;
}

/**
 聊天 chat
 ___________*/
.chat-box {
    margin-top: 50px;
    background: #fff;
    overflow: hidden;
    margin-bottom: 30px;
}

.chat-sidebar {
    float: left;
    width: 260px;
    background: #e2e8e5;
    height: 571px;
}

.chat-main {
    float: left;
    width: 700px;
}

.add-user {
    display: block;
    text-align: center;
    padding: 30px 0;
}

.add-user .add-user-ico {
    height: 30px;
    line-height: 30px;
    width: 30px;
    display: inline-block;
}

.add-user .add-user-ico:before {
    display: inline-block;
    font-size: 30px;
    font-family: "banbanregular";
    color: #5d4fb1;
    content: 'J';
    font-style: normal;
}

.chat-user-item {
    width: 218px;
    height: 45px;
    padding: 15px;
    margin: 0 6px 6px;
    background: #ebefed;
    position: relative;
}

.chat-user-list .cur {
    background: #fff;
}

.chat-user-avatar {
    width: 45px;
    height: 45px;
    display: block;
    float: left;
    margin-right: 10px;
}

.chat-user-name {
    color: #5d4fb1;
    font-size: 15px;
    line-height: 45px;
}

.message-notice {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    right: 20px;
    border-radius: 5px;
    background: #ff5353;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.current-chat-user-info {
    background: #fff;
    padding: 20px 20px 15px;
    border-bottom: 1px solid #efefef;
    height: 60px;
}

.current-chat-user-info img.chat-user-avatar {
    width: 60px;
    height: 60px;
}

.current-chat-user-msg {
    float: left;
}

.cur-chat-user-name {
    font-size: 18px;
    color: #5d4fb1;
    font-weight: normal;
    margin: 8px 0;
}

.current-chat-user-info .user-desc {
    color: #555;
}

.skills {
    float: right;
    width: 80px;
    text-align: right;
    color: #666;
    margin-top: 10px;
    line-height: 1.5;
}

.green {
    color: #23c781;
}

.chat-msg {
    padding: 20px;
    height: 290px;
    overflow-x: hidden;
    background: #fff;
}

.chat-msg .from {
    text-align: left;
    margin-bottom: 10px;
}

.chat-msg .from p {
    display: inline-block;
    border-radius: 18px;
    background: #f1f6f4;
    color: #5d4fb1;
    padding: 8px 10px;
}

.chat-msg .to {
    margin-bottom: 10px;
    text-align: right;
}
.chat-msg .to p{
    background: #5d4fb1;
    color: #fff;
    padding: 8px 10px;
    display: inline-block;
    border-radius: 18px;
}
.msg-box{
    height: 105px;
    padding: 20px;
    background: #fff;
}
.msg-box-inner{
    border: 1px solid #efefef;
    height: 65px;
    padding: 20px;
    overflow: hidden;
}
.msg-box textarea{
    width: 480px;
    height: 55px;
    border: none;
    padding: 5px;
    background: none;
    float: left;
    color: #333;
    font-size: 14px;
    resize: none;
}
.msg-box input[type=submit]{
    width: 120px;
    float: right;
    margin-left: 5px;
    background: #53eaaf;
    color: #fff;
    height: 65px;
    line-height: 65px;
    font-size: 14px;
    text-align: center;
    border: none;
}
.msg-box input[type=submit]:hover{
    background: #00e38a;
}

/**
 活动页面
 ————————*/
.event-list{
    margin-bottom: 60px;
}
.event-list:after{
    content: ' ';
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    overflow: hidden;
}
.event-list .party-list-item{
    margin-bottom: 55px;
}

/**
 活动详情页
 __________*/
.event-detail{
    margin-bottom: 60px;
}
.event-cover{
    width: 230px;
    float: left;
    margin-right: 20px;
}
.event-cover a{
    display: block;
    border: 5px solid #fff;
}
.event-cover a img{
    display: block;
}
.event-content{
    width: 670px;
    float: left;
    background: #fff;
    padding: 20px;
}
.event-title{
    font-size: 18px;
    color: #444;
    margin-bottom: 15px;
}
.join-status{
    color: #fff;
    display: inline-block;
    padding: 5px;
    background: #ff8a00;
    margin-left: 10px;
    font-weight: normal;
    font-size: 14px;
}
.event-meta{
    padding: 10px 0;
    color: #666;
}
.event-meta>div{
    line-height: 2;
}
.event-meta>div span{
    margin-right: 30px;
}
.event-meta .join-total{
    margin-top: 20px;
}
.event-meta .join-num{
    display: inline-block;
    background: #f5f4f8;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    color: #666;
    float: left;
}
.event-meta .join-num span{
    margin-right: 10px;
}
.event-meta .join-num em{
    font-size: 18px;
    color: #5d4fb1;
    vertical-align: middle;
}
.event-meta .join-quick{
    height: 40px;
    line-height: 40px;
    color: #fff;
    display: inline-block;
    padding: 0 20px;
    float: left;
    background: #00d985;
}
.event-meta .join-quick:hover{
    background: #02cf80;
}
.event-main{
    padding: 15px 0;
}
.event-content .event-main p{
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 14px;
}


.overlay{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    overflow: hidden;
    background-color: rgba(61,67,76,0.7);
    background-image: -webkit-radial-gradient(rgba(0,0,0,0) 10%,rgba(0,0,0,0.6));
    background-image: radial-gradient(rgba(0,0,0,0) 10%,rgba(0,0,0,0.6));
    opacity: 0;
    -webkit-transition: 250ms opacity linear;
    -moz-transition: 250ms opacity linear;
    transition: 250ms opacity linear;
    visibility: hidden;
}
.overlay .panel{
    font-size: 14px;
    font-size: 1.4rem;
    position: absolute;
    width: 500px;
    height: 350px;
    left: 50%;
    top: 50%;
    margin: -220px 0 0 -240px;
    padding: 30px;
    box-shadow: rgba(0,0,0,0.2) 0 3px 5px,rgba(0,0,0,0.1) 0 0 8px 1px,rgba(0,0,0,0.1) 0 0 0 1px;
    border-radius: 1px;
    overflow: hidden;
    background-color: #FFF;
    -webkit-animation: hidePanel 300ms ease;
    -moz-animation: hidePanel 300ms ease;
    animation: hidePanel 300ms ease;
}
.overlay .panel h3{
    color: #5d4fb1;
    font-size: 30px;
    margin: 0 auto 20px;
    width: 270px;
}
.overlay .login-section{
    width: 270px;
    margin: 0 auto;
}

/**
 用户个人信息
 ————————————*/
.info{
    margin-top: 0;
}
.info-main{
    margin-top: 1px;
    background: #fff;
    min-height: 400px;
    margin-bottom: 60px;
}
.info-main .l-side{
    float: left;
    width: 200px;
}
.info-main .info-title{
    color: #5d4fb1;
    font-size: 24px;
    text-align: right;
    margin-top: 50px;
    margin-right: 30px;
}
.info-main .r-side{
    border-left: 1px solid #f0f6f3;
    width: 759px;
    float: left;
}
.info-content{
    margin: 50px 50px 20px;
}
.info-content .info-avatar{
    width: 130px;
    height: 130px;
    float: left;
    position: relative;
}
.info-content .info-avatar img{
    display: block;
    border: 5px solid #f4f3fb;
}
.info-avatar .btn-upload{
    height: 24px;
    line-height: 24px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background: rgba(70,57,114,.8);
    text-align: center;

}
.info-avatar .btn-upload a{
    color: #fff;
    text-decoration: none;
    display: block;
    width: 130px;
    font-size: 12px;
}
.info-field{
    float: left;
    margin-left: 20px;
    width: 509px;
}
.info-field input::-webkit-input-placeholder { color:#888; }
.info-field input::-moz-placeholder { color:#888; } /* firefox 19+ */
.info-field input:-ms-input-placeholder { color:#888; } /* ie */
.info-field input:-moz-placeholder { color:#888; }
.info-field textarea::-webkit-input-placeholder{color: #888}
.info-field textarea::-moz-input-placeholder{color: #888}
.info-field textarea:-ms-input-placeholder{color: #888}
.info-field textarea:-moz-placeholder{color: #888}
.text-field{
    color: #5d4fb1;
    float: left;
    height: 34px;
    margin-bottom: 15px;
}
.text-field input{
    background: #f5f4f8;
    border: none;
    padding: 9px 5px;
    font-size: 14px;
    color: #5d4fb1;
    width: 199px;
}
.info-sex{
    background: #f5f4f8;
    float: left;
    line-height: 34px;
    width: 90px;
    text-align: center;
    margin-left: 10px;
    position: relative;
    font-size: 14px;
    color: #888;
}
.sel-arrow{
    float: right;
    margin-top: 15px;
    margin-right: 5px;
}
.info-age,.info-city,.info-school{
    margin-left: 10px;
}
.info-age input,.info-city input{
    width: 80px;
}
.info-school input{
    width: 280px;
}
.info-desc textarea{
    width: 499px;
    border: none;
    background: #f5f4f8;
    padding: 5px;
    height: 100px;
    resize: none;
}
.info-lang-sel{
    margin: 20px 0;
}
.lang-sel-item{
    float: left;
}
.lang-sel-item .lang-sel-title{
    float: left;
    display: block;
    width: 40px;
    color: #666;
    line-height: 30px;
    height: 30px;
}
.lang-sel-item .lang-sel{
    float: left;
    position: relative;
}
.info-lang-sel .f2{
    margin-left: 20px;
}
.lang-sel .cur-lang{
    height: 30px;
    line-height: 30px;
    color: #5d4fb1;
    background: #f5f4f8;
    width: 80px;
    padding: 0 10px;
}
.lang-sel .cur-lang img{
    vertical-align: middle;
}
.info-post-btn{
    border-top: 1px dotted #ccc;
    padding: 30px 50px;
}
.info-post-btn input{
    background: #5d4fb1;
    color: #fff;
    padding: 8px 10px;
    width: 200px;
    border: none;
    margin-left: 150px;
}